* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider-wrap {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 2rem;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

#slider-wrap ul#slider li>div {
    position: absolute;
    top: 20px;
    left: 35px;
}

#slider-wrap ul#slider li>div h3 {
    font-size: 36px;
    text-transform: uppercase;
}

#slider-wrap ul#slider li img {
    display: block;
    width: 100%;
    height: 100%;
}

.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns :hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*애니메이션*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}
/*---미완성*/
#contents {
    background-color: black;
}
#contents {width:1002px; margin:15px auto 16px; height:558px; background: 0 0 no-repeat;}
#contents h2 {margin:0 0 24px 0; font-size:18px; font-weight:600; color:#252525;}
#contents h2 span {color:#bababa; padding:0 0 0 21px;}
.section1 { display: block; position:relative; width:926px; margin:0 auto; padding:34px 0 30px 0; background: 0 100%  repeat-x;}
.section1 > ul {*zoom:1;}
.section1 > ul:after {content:" "; display:block; clear:both;}
.section1 > ul li {float:left; width:205px; height:216px; margin:0 0 0 30px; font-size:13px; line-height:17px; font-weight:normal;}
.section1 > ul li a {display:block; text-decoration:none; color:#313131;}
.section1 > ul li:first-child {margin:0;}
.section1 > ul li .thumb {display:block; font-size:14px; font-weight:normal; padding:0 0 14px 0;}
.section1 > ul li .thumb img {margin:0 0 20px 0;}
.section1 > ul li .thumb a {color:#9a0a14;}
.section1 a.more {position:absolute; top:37px; right:0; font-size:12px; font-weight:normal; color:#8b0029;}

