body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow-x: hidden;
}
header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
}
h1 {
    margin: 2em 0 0 0;
}
h2 {
    margin: 0 0 1.5em 0;
}
#main-menu > li >img {
    width: 75px;
    height: 75px;
    text-align: left;
}
#main-menu >li> h1 {
    margin-left: 20px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#head-util {
    margin-top: 20px;
    margin-right: 60px;
    text-align: right;
}
#head-util > ul > li> a {
    text-decoration: none;
    color: black;
    font-size: medium;
}
#fan > h1 > a {
    text-decoration: none;
    color: #4263eb ;
}
#main-menu > li {
    display: table;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#main-menu > li > a {
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 14px 72px;
    border-right: 1px solid white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#main-menu > li:nth-child(1) > a {
    border-left: 1px solid white;
}
#sub-menu {
    width: 200px;
    height: 50px;
    position: absolute;
    background: #182952;
    opacity: 0;
    visibility: visible;
    transition: all 0.15s ease-in;
    z-index: 10;
}
#sub-menu > li {
    background-color: #e9ecef;
    padding: 16px 62px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
#sub-menu > li >  a {
    color: black;
    text-decoration: none;
}
#main-menu :hover {
    color: #4263eb ;
}
#main-menu > li:hover #sub-menu {
    opacity: 1;
    visibility: visible!important;
}
#sub-menu > li >  a:hover {
    color: #5c7cfa ;
}